---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    word-break: keep-all;
}

.author__avatar img {
    max-width: 150px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
  color: #4b3d0d;
}

h1 {
  margin: 1.8em 0 1em;
}

h2 {
  margin: 1.5em 0 0.5em;
}

.page__content p {
  line-height: 1.8;
}

.highlight, p>code, code {
  font-family: "Source Code Pro", "Nanum Gothic";
}

p>code {
  background: #555555;
  color: gold;
}

blockquote {
  border-left: 0.25em solid #ffc500;
}

blockquote > p {
  font-size: 0.8em !important;
}
